/*

!/.bash_aliases
!/.bashrc
!/.bin
!/.git
!/.gitignore
!/.vimrc
!/.xinitrc
!/.Xresources

!/.config/
/.config/*
!/.config/dunst
!/.config/dwm
!/.config/ranger
!/.config/markdown-latex

!/.config/GIMP
/.config/GIMP/*
!/.config/GIMP/2.10
/.config/GIMP/2.10/*
!/.config/GIMP/2.10/scripts

!/.config/st
/.config/st/*
!/.config/st/patches
!/.config/st/config.h
!/.config/st/st.c

!/.config/dwm
/.config/dwm/*
!/.config/dwm/patches
!/.config/dwm/config.def.h
!/.config/dwm/dwm.c
!/.config/dwm/x.c

!/.config/dwmblocks
/.config/dwmblocks/*
!/.config/dwm/blocks.h
!/.config/dwm/dwmblocks.c
!/.config/dwmblocks/scripts


!/.config/inkscape

*.swp

*.log
