/*

!/.bash_aliases
!/.bashrc
!/.bin
!/.git
!/.gitignore
!/.vimrc
!/.Xresources

!/.config/
/.config/*
!/.config/dunst
!/.config/i3
!/.config/ranger
!/.config/markdown-latex

!/.config/GIMP
/.config/GIMP/*
!/.config/GIMP/2.10
/.config/GIMP/2.10/*
!/.config/GIMP/2.10/scripts
