/*

!/.bash_aliases
!/.bashrc
!/.bin
!/.git
!/.gitignore
!/.vimrc
!/.xinitrc
!/.Xresources

!/.config/
/.config/*
!/.config/dunst
!/.config/dwm
!/.config/dwmblocks
!/.config/ranger
!/.config/markdown-latex

!/.config/GIMP
/.config/GIMP/*
!/.config/GIMP/2.10
/.config/GIMP/2.10/*
!/.config/GIMP/2.10/scripts

!/.config/st
/.config/st/*
!/.config/st/patches
!/.config/st/config.def.h
!/.config/st/st.c

*.swp

