! Use a nice truetype font and size by default... 
xterm*faceName: DejaVu Sans Mono Book
xterm*faceSize: 15

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! Scrollback...
xterm*savelines: 1000

! double-click to select whole URLs
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! Colours

*.foreground:   #ffffff 
*.background:   #101010 
*.cursorColor:  #ffffff 

! black
*.color0:       #101010 
*.color8:       #101010 

! red
*.color1:       #e84f4f 
*.color9:       #e84f4f 

! green
*.color2:       #66bb6a 
*.color10:      #66bb6a 

! yellow
*.color3:       #f39d21 
*.color11:      #f39d21 

! blue
*.color4:       #208ffb 
*.color12:      #208ffb 

! magenta
*.color5:       #c56cf0 
*.color13:      #c56cf0 

! cyan
*.color6:       #666666 
*.color14:      #666666 

! white
*.color7:       #ffffff 
*.color15:      #ffffff

! right hand side scrollbar...
xterm*rightScrollBar: true
xterm*ScrollBar: true

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

! Use CTRL+Shift+C and CTRL+Shift+V for copy and paste
xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

! rofi colours
rofi.color-window: argb:dd000000, #ffffff, #ffffff 
rofi.color-normal: argb:dd101010, #ffffff, argb:dd101010, #000000, #ffffff 
rofi.color-urgent: argb:2c1d1f21, #cc6666, argb:e54b5160, #a54242, #f9f9f9
rofi.color-active: argb:2c1d1f21, #65acff, argb:e44b5160, #4491ed, #f9f9f9
rofi.width: 100
rofi.lines: 5
rofi.columns: 1
rofi.font: System San Francisco Display 25
rofi.bw: 0
rofi.padding: 500
rofi.eh: 1
rofi.separator-style: solid
rofi.hide-scrollbar: true
